$background-color : #59BFD2;
$font-color : #026375;
$button-color : #34DA59;
$success : #34DA59;
$focus : #026375;
$error : #FF7769;


input[type="text"], input[type="password"], input[type="phone"],  textarea {
  font-size:16px;
}


@mixin shadow($color) {

  border-color: $color !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px $color !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px $color !important;
}

body {
  background: $background-color;
  color : $font-color;
  padding: 20px;
  text-align: center;
}

.btn-special, .btn-special:focus {
  background: darkgreen;
  border-color: $button-color;
  background-color: $button-color;
  color: #fff;
  margin: 0 7px;
  padding: 10px 15px;

  &:focus {
    @include shadow($focus);
  }

  &:hover {
    background-color: darken($button-color, 15%);
    border-color: darken($button-color, 15%);
    color: #fff;
  }
}

.has-success .form-control {
  border-color : $success;

  &:focus {
    @include shadow($success);
  }
}

.has-error .form-control {
  border-color : $error;

  &:focus {
    @include shadow($error);
  }
}
h1 {
  font-size: 30px;
  margin-top: 30px;
}
h2 {
  font-size: 24px;
  margin-top: 30px;
}
h3 {
  font-size: 20px;
}

p {
  margin-top: 30px;
}

.header {
  height: 57px;

  img {
    width: 57px;
    height: 57px;
  }
}

$field-height : 41px;

.answerField {
  input[type=submit] {
    display: inline-block;
    height: $field-height;
    width: 25%;
    max-width: 77px;
    margin: -3px 1% 0 -5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type=text] {
    max-width: 600px;
    margin: 0 auto;
    display: inline-block;
    height: $field-height;
    width: 70%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.rules {
    display:block;
}

a {
  margin-top: 45px;
}

form {
  margin-top: 35px;
}

.gameover, .start {
  div.btn-special, a.btn-special {
    margin-top: 60px;
  }

  h4 {
    margin-top: 75px;
  }
}

.header {
  h2 {
    margin: 10px auto;
  }
}

.album-art {
  img {
    margin: 75px auto 0;
    max-width: 500px;
    width: 100%;
  }
}